//
// Metadata
//
.bc-metadata {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $bc-divider-color;
  .sep {
    padding-left: 1em;
    padding-right: 1em;
  }
  a {
    color: $bc-primary-text;
    &:hover {
      text-decoration: underline;
    }
  }
}

.bc-metadata-sidebar {
  a {
    color: $bc-primary-text;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
}
