/dist/
/logos/
/php-*/
/scss/bootstrap*/
/scss/Font-Awesome/
/node_modules/

package-lock.json
brilliantcodingalpha.zip

/brilliantcoding/alpha/assets/css/fonts/
/brilliantcoding/alpha/assets/css/bc.min.css
/brilliantcoding/alpha/assets/js/bc.min.js
/brilliantcoding/alpha/assets/js/bc.min.js.map

/brilliantcodingalpha/highlight/
/brilliantcodingalpha/iosevka/
/brilliantcodingalpha/min/

