/dist/
/logos/
/scss/bootstrap*/
/scss/Font-Awesome/
/node_modules/

package-lock.json
brilliantcodingalpha.zip

/brilliantcodingalpha/assets/css/fonts/
/brilliantcodingalpha/assets/css/bc.min.css
/brilliantcodingalpha/assets/js/bc.min.js
/brilliantcodingalpha/assets/js/bc.min.js.map

/brilliantcodingalpha/highlight/
/brilliantcodingalpha/iosevka/
/brilliantcodingalpha/min/

/tests/php-*/
/tests/assets/
